@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-slide-down {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-down {
  animation: fade-slide-down 0.25s ease-out;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
.animate-fade-in {
  animation: fade-in 0.2s ease-in-out;
}



/* Ihre zusätzlichen globalen Stile */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
